---
import RichText from "@/components/RichText";
import { badgeVariants } from "@/components/ui/badge";
import MainLayout from "@/layouts/MainLayout.astro";
import { getImageSrc, getPosts } from "@/lib/payload-cms";
import dayjs from "dayjs";

// The getStaticPaths() is required for static Astro sites.
// If using SSR, you will not need this function.
export async function getStaticPaths() {
  let posts = await getPosts();

  return posts.map((post) => {
    return {
      params: { id: post.slug, slug: post.slug },
      props: {
        blog: {
          data: post,
        },
        content: post.content,
      },
    };
  });
}

const { blog, content } = Astro.props;
---
<MainLayout
  title={blog.data.title + " | Fityandhiya Islam Nugroho"}
  description={blog.data.meta.description}
  ogImage={getImageSrc(blog.data.meta.image.url)}
  className="container container-wrapper"
>
  <article class="prose lg:prose-lg dark:prose-invert mx-auto">
    <div class="flex gap-1 items-center mb-4 flex-wrap">
      <a
        href="/about"
        class="flex gap-2 items-center text-muted-foreground mr-1 text-sm"
      >
        <img
          width="24"
          height="24"
          src="/profile.webp"
          class="not-prose w-6 h-6 rounded-full"
          alt="fityannugroho"
        />
        @fityannugroho
      </a>

      <time
        datetime={new Date(blog.data.createdAt).toISOString()}
        class="text-muted-foreground"
      >
        {dayjs(blog.data.createdAt).format("MMMM D, YYYY")}
      </time>
    </div>
    <h1>{blog.data.title}</h1>
    {
      blog.data.meta.image && (
        <img
          src={getImageSrc(blog.data.meta.image.url)}
          alt={blog.data.meta.image.alt}
          title={blog.data.meta.title}
        />
      )
    }

    {content && (
      <RichText content={content} />
    )}

    <div class="flex gap-2 mt-8 md:mt-16">
      {blog.data.categories.map((tag) => tag.title).map((tag) => (
        <a
          href={`/blog/tag/${tag}`}
          class:list={[badgeVariants({ variant: "default" }), "no-underline"]}
        >
          {tag}
        </a>
      ))}
    </div>
  </article>
</MainLayout>
