---
import BlogHero from "@/components/BlogHero";
import RichText from "@/components/RichText";
import TableOfContent from "@/components/TableOfContent";
import MainLayout from "@/layouts/MainLayout.astro";
import { getImageSrc, getPostBySlug } from "@/lib/payload-cms";

export const prerender = false;

const { slug } = Astro.params;
if (!slug) {
  return Astro.redirect("/404");
}

const post = await getPostBySlug(slug);
if (!post) {
  return Astro.redirect("/404");
}
---
<MainLayout
  title={post.title + " | Fityandhiya Islam Nugroho"}
  description={post.meta?.description || ''}
  ogImage={post.meta?.image && typeof post.meta.image === 'object' ? getImageSrc(post.meta.image.url || '') : ''}
  disableWrapper
>
  <article class="w-full">
    <BlogHero post={post} />
    <div class="grid grid-cols-12 max-w-5xl mx-auto lg:gap-x-10 pt-8 pb-20 px-4">
      <div class="col-span-12 lg:col-span-9">
        <RichText client:only="react" data={post.content} enableHeadingAnchors={true} enableGutter={false} />
      </div>
      <aside class="hidden lg:block lg:col-span-3">
        <div class="sticky top-20">
          <TableOfContent client:only="react" data={post.content} />
        </div>
      </aside>
    </div>
  </article>
</MainLayout>
