---
import { ViewTransitions } from "astro:transitions";
import config from "@/lib/config";

export type Props = {
  title?: string | undefined;
  description?: string | undefined;
  /**
   * The path to the image to use for Open Graph.
   *
   * Can be a relative path or an absolute URL.
   *
   * External URLs are allowed, but it's recommended to use a local image.
   *
   * If not provided, the default image will be used.
   */
  ogImage?: string | undefined;
};

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title = config.title,
  description = config.description,
  ogImage = config.ogImage,
} = Astro.props;

const ogImageUrl = new URL(ogImage, canonicalURL);
---

<meta charset="utf-8" />
<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<link rel="canonical" href={canonicalURL} />
<link rel="shortcut icon" type="image/svg+xml" href="/favicon.svg" />
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImageUrl} />

<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImageUrl} />

<ViewTransitions />

<!--
Copyright (c) 2023 AREA44
https://github.com/AREA44/astro-shadcn-ui-template/blob/main/src/components/HeadSEO.astro
-->
